<div id="<%= dom_id user %>">
    
    <p>Photo: </p>
        <% if user.photo.attached? %>
            <%= image_tag(user.photo, size: "200x200") %>
        <% else %>
            No picture
        <% end %>  
    
    <p>id: <%= user.id %></p>
    <p>Email: <%= user.email %></p>
    <p>Created at: <%= user.created_at %></p>
    <p>Updated at: <%= user.updated_at %></p>
    <p>Confirmed at: <%= user.confirmed_at %></p>
    <p>First name: <%= user.first_name %></p>
    <p>Last name: <%= user.last_name %></p>
    <p>Adress: <%= user.adress %></p>
    <p>Phone: <%= user.phone %></p>

    <p>Number of connexion to the system: <%= user.sign_in_count %></p>
    <p>Current time of connexion: <%= user.current_sign_in_at %></p>
    <p>Last time of connexion: <%= user.last_sign_in_at %></p>
    <p>Current ip address: <%= user.current_sign_in_ip %></p>
    <p>Last ip address: <%= user.last_sign_in_ip %></p>
    <p>Locked at: 
    <% unless  user.locked_at? %>
        <% user.locked_at %>
    <% end %></p>
    
</div>
<hr>
