<nav class="navbar bg-body-tertiary fixed-top bg-dark">
  <div class="container-fluid">

    <div class="d-flex gap-2">
        <div>
            <a class="navbar-brand" href="#">
                <span class="navbar-text text-light">
                    The Chill School
                <i class="fa fa-school"></i>
                </span>
             </a>
        </div>
        
        <p>
            <%= link_to "Home", root_path, class: "nav-link text-light" %>
        </p>

         <% if current_user %>
           <p>
            <%= link_to "Privacy policy", privacy_policy_path, class: "nav-link text-light #{'active font-weight-bold'}" %>
           </p>
         <% else %>
            <p>
             <%= link_to "Login", new_user_session_path, class: "nav-link text-light #{'active font-weight-bold'}" %>
           </p>
           <p>
             <%= link_to "Register", new_user_registration_path, class: "nav-link text-light #{'active font-weight-bold'}" %>
           </p>
        <% end %>
    </div>
    
    <% if current_user %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
       <i class="fa fa-user text-light"></i>
      <span class="text-light">pamphilemkp</span>
      <i class="fa fa-caret-down text-light"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> <%= current_user.email %> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <br/>
      <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
              <div class="fa fa-sign-out-alt"></div>
              <b>Sign out</b>
      <% end %>
      </div>
    </div>
  <% end %>
  </div>
</nav>
  