<nav class="navbar bg-body-tertiary  bg-dark">
  <div class="container-fluid">

    <div class="d-flex gap-3 align-items-center">
        <div>
            <a class="navbar-brand" href="#">
                <span class="navbar-text text-light">
                    The Chill School
                <i class="fa fa-school"></i>
                </span>
             </a>
        </div>
        
        <div>
            <%= link_to  root_path, class: "nav-link #{'active font-weight-bold' if current_page?(root_path)}" do %>
              <i class="fa fa-home"></i>
              Home
            <% end %>
        </div>

        <div>
            <%= link_to  users_path, class: "nav-link #{'active font-weight-bold' if current_page?(users_path)}" do %>
              <i class="fa fa-users"></i>
              Users
            <% end %>
        </div>

         <% if current_user %>
           <div>
            <%= link_to privacy_policy_path, class: "nav-link #{'active font-weight-bold' if current_page?(privacy_policy_path)}" do %>
               <i class="fa fa-file-signature"></i>
               Privacy policy
           </div>
            <% end %> 
           
        <% end %>
    </div>
    
    <% if current_user %>
    <button class="navbar-toggler nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
       <i class="fa fa-user text-light"></i>
      <span class="text-light">pamphilemkp</span>
      <i class="fa fa-caret-down text-light"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> <%= current_user.email %> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <br/>
      <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
              <div class="fa fa-sign-out-alt"></div>
              <b>Sign out</b>
      <% end %>
      </div>
    </div>

   <% else %>
      <div class="d-flex gap-3">
            <p>
             <%= link_to "Login", new_user_session_path, class: "nav-link #{'active font-weight-bold' if current_page?(new_user_session_path)}" %>
           </p>
           <p>
             <%= link_to "Register", new_user_registration_path, class: "nav-link #{'active font-weight-bold' if current_page?(new_user_registration_path)}" %>
           </p>
      </div>
  <% end %>
  </div>
</nav>
  